@model CocktailsDatabase.CocktailIngredient

@{
    ViewBag.Title = "Delete " + Model.Ingredient.Name + " from " + Model.Cocktail.Name;
}

<h2>Remove ingredient from cocktail</h2>

<h3>Are you sure you want to remove this ingredient?</h3>
<div>
    <h4>CocktailIngredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cocktail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cocktail.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to " + Model.Cocktail.Name, "Details", "Cocktails", new { id = Model.CocktailId })
        </div>
    }
</div>
